@import '@angular/material/theming';

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans'), url(./assets/fonts/FiraSans-Regular.ttf) format('truetype');
}

$custom-typography: mat-typography-config(
  $font-family: 'Fira Sans'
);

@include mat-core($custom-typography);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
}
